<div class="section-header">
  <div class="title">
    <img src="../assets/icons/characters.png" alt="characters" /> Characters
  </div>
  <select
    name="select"
    [value]="orderBy || ''"
    (change)="onSelectedItemChange($event.target.value)"
  >
    <option value="" selected>Sort</option>
    <option value="name">↑ Name</option>
    <option value="modified">↑ Modified</option>
    +
    <option value="-name">↓ Name</option>
    <option value="-modified">↓ Modified</option>
  </select>
</div>

<div class="heroe-list">
  <app-heroe-card
    *ngFor="let character of characters"
    [character]="character"
    (openModalEvent)='openModal($event)'
  ></app-heroe-card>
</div>

<div class="pagination">
  <div class="pages">
    <div class="number" (click)="getNextPage('prev')" *ngIf="currentPage > 1">
      {{ "<" }}
    </div>
    <div class="number nohover">{{ currentPage }}</div>
    <div class="number nohover">of</div>
    <div class="number" (click)="getCurrentPage(totalPages)">
      {{ totalPages }}
    </div>
    <div
      class="number"
      (click)="getNextPage('next')"
      *ngIf="currentPage !== totalPages"
    >
      {{ ">" }}
    </div>
  </div>
</div>

<app-modal id="custom-modal-1">
  <h1>A Custom Modal!</h1>
  <p>Home page text:</p>
  <button (click)="closeModal('custom-modal-1')">Close</button>
</app-modal>
