<nav>
  <div class="logoContainter">
    <img class="logo" src="../assets/images/marvel.png" alt="Marvel logo" />
  </div>
    <form (submit)="searchFor($event)" class="search">
      <input
        class="searchInput"
        type="text"
        placeholder="Search character..."
        [value]="search"
        (change)="onItemChange($event.target.value)"
      /><span class="searchLogo">🔍</span>
      <button class="btn btn-search">search</button>
    </form>
  <div class="right"></div>
</nav>
