@import "../../styles/utilities.scss";

nav {
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-secondary);
  color: var(--main-title);
  display: flex;
  height: 170px;
  justify-content: space-between;
  padding: 1rem 1.5rem;

  .logoContainter {
    background-color: white;
    height: 70px;
  }

  .logo {
    height: 100%;
  }

  .search {
    display: flex;
    margin-top: 1rem;
    position: relative;

    .searchInput {
      height: 25px;
      font-size: var(--font-size-lg);
      width: 100%;
      padding: 0.5rem;
      border-radius: 5px;
      outline: none;
    }

    .search-icon {
      position: absolute;
      right: 27%;
      bottom: 10%;
    }

    .btn-search {
      margin-left: 0.5rem;
    }
  }
}

@media (min-width: $breakpoint-ipad) {
  nav {
    flex-direction: row;
    height: 100%;
    .search {
      margin-top: 0;
      .search-icon {
        right: 23%;
      }
    }
    .right {
      width: 150px;
    }
  }
}

@media (min-width: $breakpoint-pc) {
  nav {
    .search {
      width: 700px;
      .search-icon {
        right: 13%;
      }
    }
  }
}
