@import "../../styles/utilities.scss";

nav {
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-secondary);
  color: var(--main-title);
  display: flex;
  height: 170px;
  justify-content: space-between;
  padding: 1rem 1.5rem;

  .logoContainter {
    background-color: white;
    height: 70px;
  }

  .logo {
    height: 100%;
  }

  .search {
    display: flex;
    margin-top: 1rem;
    position: relative;

    .searchInput {
      height: 25px;
      font-size: var(--font-size-lg);
      width: 100%;
      padding: 0.5rem;
      border-radius: 5px;
      outline: none;
    }

    .searchLogo {
      position: absolute;
      right: 13%;
      bottom: 15%;
    }

    .btn-search{
      margin-left:0.5rem;border-radius: 5px;
    }
  }
}

@media (min-width: $breakpoint-ipad) {
  nav {
    flex-direction: row;
    height: 80px;
  }
  .search {
    margin-top: 0;
  }
}

@media (min-width: $breakpoint-pc) {
  nav {
    flex-direction: row;
    height: 70px;
  }
  .search {
    margin-top: 0;
    width: 700px;
  }
}
