@import "../../styles/utilities.scss";

.title {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  font-weight: bold;
  color: var(--main-title);
  .icon-favs {
    width: 20px;
    height: 20px;
  }
  label {
    margin-left: 0.2rem;
  }
}

.fav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-top: 1rem;
  img {
    width: 80%;
    height: 250px;
    @media (min-width: $breakpoint-ipad) {
      width: 100%;
    }
  }
  label {
    margin: 0;
    font-size: var(--fontsize-sm);
    color: var(--main-title);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .icon-remove {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -5%;
    left: 5%;
    cursor: pointer;
    @media (min-width: $breakpoint-ipad) {
      left: -10%;
    }
    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }
  }
}
