@import "../../styles/utilities.scss";

.section-header {
  padding: 1.5rem 1rem;
  color: var(--main-title);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
}

.character-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
  place-items: center;
  margin-top: 1rem;
  padding: 0 1rem;
}

select{
  padding: 0.5rem 1rem;
}

.alert {
  display: grid;
  place-items: center;
  padding: 0 1rem;
  @media (min-width: $breakpoint-ipad) {
    padding: 0;
  }
  .alert-danger {
    background-color: #ffbbbd;
    border-radius: 5px;
    border: 1px solid red;
    padding: 1rem;
    color: var(--main-title);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  .pages {
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    padding: 1rem 0;

    .number {
      background-color: gray;
      color: white;
      padding: 1rem;
      margin-right: 0.5rem;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        transition: 0.3s;
        background-color: #484848;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .nohover {
      pointer-events: none;
    }
  }
}

.modal-header{
  display: flex;
  justify-content: flex-end;
  padding:0.5rem 0;
  button{
    border:none;
    outline:none;
    background: transparent;
    cursor:pointer;
  }
}

@media (min-width: $breakpoint-ipad) {
  .character-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .character-card {
    width: 450px;
  }

  .name {
    font-size: var(--fontsize-lg);
  }
}

@media (min-width: $breakpoint-laptop) {
  .character-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $breakpoint-pc) {
  .character-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .character-card {
    width: 450px;
  }
}
