@import "./styles/utilities.scss";
.content {
  background-color: var(--bg-primary);
  min-height: calc(100vh - (170px + 80px));
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-ipad) {
    flex-direction: row;
  }
}

app-character-list {
  width: 90%;
}

app-favourites-list {
  width: 10%;
  padding: 3rem;
  background: #ebebeb;
}

.favorites {
  background-color: var(--bg-secondary);
  width: 200px;

  display: none;
}

footer {
  align-items: center;
  background-color: var(--bg-secondary);
  display: flex;
  height: 80px;
  justify-content: center;
}

@media (min-width: $breakpoint-ipad) {
  .content {
    min-height: calc(100vh - 160px);
  }
}

@media (min-width: $breakpoint-pc) {
  .content {
    min-height: calc(100vh - 160px);
  }
}
