@import "./styles/utilities.scss";
.content {
  background-color: var(--bg-primary);
  min-height: calc(100vh - (170px + 80px));
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-ipad) {
    flex-direction: row;
  }
}

app-character-list {
  width: 100%;
  @media (min-width: $breakpoint-ipad) {
    width: 60%;
    padding: 3rem;
  }
  @media (min-width: $breakpoint-laptop) {
    width: 80%;
  }
  @media (min-width: $breakpoint-pc) {
    width: 90%;
  }
}

app-favourites-list {
  width: calc(100% - 2rem);
  padding: 1rem;
  background: #ebebeb;
  min-height: 300px;
  @media (min-width: $breakpoint-ipad) {
    width: 40%;
    padding: 2rem;
  }
  @media (min-width: $breakpoint-laptop) {
    width: 20%;
  }
  @media (min-width: $breakpoint-pc) {
    width: 10%;
    padding: 3rem;
  }
}

footer {
  align-items: center;
  background-color: var(--bg-secondary);
  display: flex;
  height: 80px;
  justify-content: center;
}

@media (min-width: $breakpoint-ipad) {
  .content {
    min-height: calc(100vh - 160px);
  }
}

@media (min-width: $breakpoint-pc) {
  .content {
    min-height: calc(100vh - 160px);
  }
}
