@import url("http://fonts.cdnfonts.com/css/comic-neue-angular");
:root {
  --bg-primary: #f4f4f4;
  --bg-secondary: #2d2727;
  --main-title: #473d3c;
  --textcolor: #958c8c;
  --fontsize-xs: 0.7rem;
  --fontsize-sm: 1rem;
  --fontsize-md: 1.5rem;
  --fontsize-lg: 2rem;
  --fontsize-xl: 2.5rem;
}

body {
  background-color: var(--bg-primary);
  color: var(--textcolor);
  font-size: var(--fontsize-md);
  margin: 0;
  font-family: "Comic Neue", sans-serif;
}

.btn {
  background: red;
  color: white;
  padding: 0.5rem;
  border: 0;
  cursor: pointer;
  min-width: 80px;
  &:hover {
    background-color: #aa1518;
    
  }
}
